@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");
@import "tailwindcss";

html,
body,
#root {
    padding: 0;
    margin: 0;
    width: 100%;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

input {
    border: 2px solid violet;
}

table {
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

th,
td {
    padding: 0.6em;
}

tr :nth-child(2),
tr :nth-child(3) {
    text-align: right;
    width: 15%;
}

tr :nth-child(1),
tr :nth-child(4) {
    text-align: left;
    width: 35%;
}

th,
td {
    vertical-align: top;
    padding: 0.3em;
}

tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}

.active {
    text-decoration: underline;
}